@import url('https://fonts.googleapis.com/css2?family=Nova+Square&display=swap');
@import url('http://fonts.cdnfonts.com/css/commodore-64-pixelized');

@font-face {
    font-family: 'Commodore-PET';
        src: url('/Commodore-PET.ttf.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    }

.app{
    /* width: 100vw;
    height: 100vh; */
    width: 1450px;
    height: 820px;
    display: flex;
    background-color: blue;
    border-color: black;
    border-style: dotted;
}

.appGameStatus{
    /* width: 100vw;
    height: 100vh; */
    width: 1450px;
    height: 820px;
    display: flex;
    border-color: black;
    border-style: dotted;
}

div {
    color: White;
    /* display: position; */
    /* position: absolute; */
    font-family: "Nova Square", cursive;
}

#StreamTitle{
    position: absolute;
    top: 5px;
    left: 15px;
    width: 1144px;
    font-size: 35px;
    text-align: left;
}

#MainScreen{
    position: absolute;
    top: 93px;
    left: 0px;
    width: 1144px;
    height: 640px;
    font-size: 45px;
    border-color: black;
    border-style: solid;
}

#WebCamera{
    position: absolute;
    top: 0px;
    left: 1152px;
    width: 295px;
    height: 163px;
    font-size: 45px;
    border-color: black;
    border-style: solid;
}

#TwitchChat{
    position: absolute;
    top: 175px;
    left: 1152px;
    width: 295px;
    height: 500px;
    font-size: 45px;
    border-color: black;
    border-style: solid;
    background-color: black;
}

#ChannelOwner{
    position: absolute;
    top: 680px;
    left: 1170px;
    font-size: 150px;
    font-family: 'ModeNine';
}

#Banner{
    position: absolute;
    top: 740px;
    left: 0px;
    width: 1150px;
    height: 32px;
    font-size: 28px;
    background-color: White;
    color: Black;
}

.ScrollerMsg{
    border:none;
    /* border: solid;
    border-color: red;
    background-color: yellow; */
}

.invisible{
    display: none !important;
}

#imageChat{
    width: 99%;
    height: 99%;
    border-color: black;
    border-style: dashed;
    display: flex;
    margin: auto;
}

#imgChat{
    display: block;
    margin: auto;
    border-style: groove;
    border-color: aqua;
}

#TwitchInformation
{
    position: absolute;
    top: 735px;
    left: 0px;
    width: 2144px;
    height: 90px;
    /* border-style: dashed;     */
}
